body, html {
  height: 100%;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 13pt;
  color: #000;
}
h1, h2
{
  color: #aa3886;
}

h3
{
  color: #aa3886 !important;
}

h4
{
  color: #aa3886;
}
/*=============================================
=            Nav bar                          =
=============================================*/

header
{
  background-color: #FFF;
  height: 70px;
}

.navbar {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  background-color: #000;
  border: none;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  /* Add additional styles here for the UNCOLLAPSED state */
}

.navbar.affix {
  padding: 0px;
  background-color: #000;
  /* Add additional styles here for the COLLAPSED state */
}
.navbar-inverse.affix .navbar-brand, .navbar-inverse.affix .navbar-nav>li>a{
    font-size: 24px;
    color: #FFF;
}

.navbar-inverse.affix .navbar-brand, .navbar-inverse.affix .navbar-nav>li>a:hover{
    font-size: 24px;
    color: #a9498a;
}

.navbar-inverse.affix .navbar-brand, .navbar-inverse.affix .navbar-nav>li>a:active{
    font-size: 24px;
    color: #a9498a;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    font-size: 24px;
    color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a:hover{
    font-size: 24px;
    color: #a9498a;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a:active{
    font-size: 24px;
    color: #a9498a;
}

/*=====  End of Section comment block  ======*/

.img-portfolio {
  margin: 0px;
  bottom: 0px;
}

.img-hover {
    display: inline-block;
    background: black;
    padding: 0px;
    margin: 0px;
}

.img-hover img {
    display: block;
    -webkit-transition: all 0.9s linear;
       -moz-transition: all 0.9s linear;
        -ms-transition: all 0.9s linear;
         -o-transition: all 0.9s linear;
            transition: all 0.9s linear;
}

.img-hover:hover img {
    opacity: 0.2;
    padding: 0px;
    margin: 0px;
}

.client-img-container
{
  position: relative;
  margin: 0px;
  padding: 0px;
}

/* Home Page Carousel */

section.carousel {
    top: -5px;
    height: 50%;
}

section.carousel .item,
section.carousel .item.active,
section.carousel .carousel-inner {
    height: 100%;
}

section.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .carousel .carousel {
        height: 70%;
    }
}

.center-text
{
    text-align: center;
}

.enterprise-description
{
  position: absolute;
  color: #FFF;
  text-align:center;
  vertical-align: middle;
  font-size: 36px;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
}

.enterprise-description p{
  padding: 25px;
}

.client-img-container:hover .enterprise-description {
  visibility:visible;
}

.main
{
    margin-top: 25px;
    margin-bottom: 50px;
}

.panel-default {
    border-color: #0c9b48;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #0c9b48;
    border-color: #0c9b48;
}

.btn-default {
    color: #FFF;
    background-color: #0c9b48;
    border-color: #0c9b48;
}

.btn-default:hover {
    color: #FFF;
    background-color: #085126;
    border-color: #085126;
}

.btn-default:focus, .btn-default:active {
    color: #FFF;
    background-color: #085126;
    border-color: #085126;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover
{
    color: #FFF;
    background-color: #085126;
    border-color: #085126;
}

.paralaxCaption
{
    background-color:transparent;
    font-size:25px;
    color: #000;
}

.slogan
{
    text-transform: uppercase;
    color: #0c9b48;
}

.slogan span
{
    text-transform: lowercase;
    color: #00471d;
    font-size: 24px;
}

.buttoninpanel
{
  margin-top: 100px;
  border-top: 1px solid #b5cebe; 
  padding-top: 20px;
}

/**
 *
 * Parallax background
 *
 */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/img_parallax.jpg");
  min-height: 100%;
  display:table;
  width: 100%;
}

.bgimg-2 {
  background-image: url("../images/img_parallax2.jpg");
  min-height: 50%;
    display:table;
  width: 100%;
}

.bgimg-3 {
  background-image: url("../images/img_parallax3.jpg");
  min-height: 250px;
    display:table;
  width: 100%;
}

.bgimg-4 {
  background-image: url("../images/ludoteca.jpg");
  min-height: 250px;
  margin-top: 0px;
    display:table;
  width: 100%;
}

.bgimg-5 {
  background-image: url("../images/unlam.jpg");
  min-height: 350px;
  margin-top: 0px;
    display:table;
  width: 100%;
}

.caption {
  display:table-cell;   
  vertical-align:middle;
  text-align:center;
  width: 100%;
  text-align: center;
  color: #000;
  height: 100%;
}

.caption p {
  margin: auto;
  width: 60%;
  background-color: #000;
  letter-spacing: 5px;
  font-size: 16pt;
  color: #FFF;
  word-wrap: break-word;
}

.caption p#educacion {
  margin: auto;
  width: 60%;
  background-color: #000;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #FFF;
  word-wrap: break-word;
}

.caption span.border {
  background-color: #000;
  color: #fff;
  padding: 18px;
  font-size: 20px;
  letter-spacing: 10px;
  opacity: 1;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #000;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/**
 *
 * Custom grids
 *
 */
.oval {
    width: 128px;
    height: 128px;
    background: url(../images/developer.png) center / contain no-repeat;
    border-radius: 50%;
    text-align: center;
    float:left;
    shape-outside: ellipse();
    margin-right: 20px;
}

.custom-col-lg-2
{
    width: 16.66666667%;
}

.call-to-action
{
  margin: 10px;
}
/* Footer Styles */
footer {
    margin: 0px;
}

/* EXAMPLE 8 - Center on mobile*/
@media only screen and (max-width : 768px){
  .example-8 .navbar-brand {
  padding: 0px; margin: 0px;
  transform: translateX(-40%);
  left: 40%;
  position: absolute;
}
  .example-8 .navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px; 
  }

  .caption {
    font: 400 36px/1.8 "Lato", sans-serif;
  }
}

.psicoedu .navbar-brand {
  background: url(../images/developer.png) center / contain no-repeat;
  width: 50px;
  z-index: 99999;
  position: absolute;
}

.social-top
{
  padding: 14px 0px 0px 0px !important;
  margin: 0px 0px 0px 10px !important;
}

.social-network
{
  margin-top: 20px;
}

.social-network a 
{
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:250px; font-family: 'Open Sans', sans-serif !important; }
.footerleft { margin-top: 0px; padding: 0px; }
.logofooter { margin-bottom:10px; margin-left: 20px; font-size:25px; color:#fff; font-weight:700;}
.footerleft p { color:#fff; font-size:16px !important; font-family: 'Open Sans', sans-serif !important; margin: 20px;}
.footerleft p i { width:20px; color:#999;}
.paddingtop-bottom {  margin-top: 25px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:16px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 } 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:16px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:16px;}

@media only screen and (max-width : 768px){
  .logofooter
  {
    font-size: 24px;
  }
  .footerleft p
  {
    font-size: 18px !important;
  }
  .footer-ul li
  {
    font-size: 24px;
  }
  .heading7
  {
    font-size: 24px;
  }
  .post p
  {
    font-size: 24px;
  }
  .bottom_ul li a
  {
    font-size: 24px;
  }

  .precio
  {
    margin-top: 20px;
    margin-bottom: 20px;
    font: 600 18px/1.8 "Lato", sans-serif;
    line-height: 30px;
  }

  p.producto
  {
    font-size: 18px;
  }

}